@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Lora:wght@400;600&display=swap');
@import "tailwindcss";

:root {
  --background: #DFDFD6;
  --foreground:	#1B1B1F;
  --primary: #0A84FF;
  /* --primary: #F56565; */
  --font-heading: 'Comfortaa', sans-serif;
  --font-text: 'Lora', serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-heading);
  --font-text: var(--font-text);
  --color-primary: var(--primary);

}

@layer components {
  .responsive-padding {
    @apply px-6 sm:px-12 lg:px-16
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:	#1B1B1F;
    --foreground:	#DFDFD6;
    /* --primary: 	#F56565; */
    /* --primary: 	#F56565; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
